<main class="my-8" *ngIf="item">
  <div class="container mx-auto px-6">
    <div class="md:flex md:items-center">
      <div class="w-full h-64 md:w-1/2 lg:h-96">
        <img class="h-full w-full rounded-md object-cover max-w-lg mx-auto" src="{{item.img}}" alt="Photo">
      </div>
      <div class="w-full max-w-lg mx-auto mt-5 md:ml-8 md:mt-0 md:w-1/2">
        <h3 class="text-gray-700 uppercase text-lg">{{item.title}}</h3>
<!--        <span class="text-gray-500 mt-3">$125</span>-->
        <span class="text-gray-500 mt-3">{{item.description}}</span>

        <hr class="my-3">
        <div class="mt-3">
          <label class="text-gray-700 text-sm" ></label>
          <div class="flex items-center mt-1">
            <p class="h-5 w-5 rounded-full bg-blue-600 mr-2 focus:outline-none"></p>
            <p class="h-5 w-5 rounded-full bg-teal-600 mr-2 focus:outline-none"></p>
            <p class="h-5 w-5 rounded-full bg-pink-600 mr-2 focus:outline-none"></p>
          </div>
        </div>
        <div class="flex items-center mt-6">
          <button (click)="delete()" class="px-8 py-2 bg-indigo-600 text-white text-sm font-medium rounded hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500">Delete</button>
        </div>
      </div>
    </div>
